<nav class="navigation left">
  <ul class="links">
    {{#foreach navigation}}
      <li class="nav-{{slug}}{{#if current}} nav-current{{/if}} {{#is "home"}}nav-current{{/is}}">
        <a href="http://sunnykai.com/#open">{{label}}</a>
      </li>
    {{/foreach}}
  </ul>
</nav>
